/* Footer Styles */
.footer {
  background: linear-gradient(to top, #6b5534, #6b513f);
  color: white;
  padding: 40px 0;
  text-align: center;
  
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 50px; */
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  justify-content: space-between;
  align-items: center; 
  flex-direction: column; 
}

.footer-logo img {
  margin-bottom: 0px;
  height: 30px;
}

.footer-info,
.footer-links {
  width: 100%; /* Take full width in mobile view */
  text-align: center;
}

.footer-info p a {
  color: white;
  text-decoration: none;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links ul li a:hover {
  color: #ff9900;
}

/* Media queries for responsive design */
@media (min-width: 768px) {

  .footer-content {
    flex-direction: row; /* Restore row layout for larger screens */
  }

  .footer-info,
  .footer-links {
    width: auto; /* Restore original width for larger screens */
    text-align: left;
  }

}
