/* Freelancing.css */

/* Styles for the entire container */
.freelancing-container {
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #E3E3E3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238ECBCB'/%3E%3Cstop offset='1' stop-color='%23E3E3E3'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;}
  
  /* Styles for the headings */
  .freelancing-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: orangered;
  }
  
  /* Styles for the freelance platform cards */
  .freelancing-card {
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    height: 150px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .freelancing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Individual platform styles */
  .upwork {
    border-top: 4px solid #0f9d58;
  }
  
  .fiverr {
    border-top: 4px solid #fbbc05;
  }
  
  .freelancer {
    border-top: 4px solid #1d72b8;
  }
  .truelancer{
    border-top: 4px solid #031d0e;
  }
  
  /* Styles for platform headings */
  .freelancing-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Styles for platform descriptions */
  .freelancing-card p {
    font-size: 16px;
    color: #666;
  }
  .freelancing-card img{
    height: 40px;
    max-width: 50%;
  }
  

  /* Styles for links */
  .freelancing-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    /* border: 1px solid green; */
    
  }
  a{
    color: initial;
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .freelancing-links {
      flex-direction: column;
      align-items: center;
      /* border:  1px solid green; */
    }
    .freelancing-links a{
      width: 90%;
      padding: auto;
margin: 0 auto;
    }
    .freelancing-card{
        width: 100%;
        /* margin: auto; */
        /* border: 1px solid green; */
        padding: 10px;
    }
  }