/* Hero Section Styles */
.hero {
    background: linear-gradient(to bottom, #f0f0f0, #dddddd);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
    padding: 20px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #ff9900;
    color: wheat;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #e68300;
  }
  